@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&family=Squada+One&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
    max-height: 100vh;
    background:url(./img/1.jpg);
    background-size: cover;
}
@media screen and (max-width:600px){
    body{
    background:url(./img/2.jpg);
    background-size: cover; 
    }
    
}
a{
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
    color: crimson;
}
.card-header{
    width: 100%;
    min-width:350px ;
    min-height: 10vh;
    height: 20vh;
    padding: 35px;
    display: flex;
    flex-direction: column;
}
.main-header{
    font-family: 'Squada One', cursive;
    text-align: center;
    font-weight: 900;
    font-size: 3em;
    line-height: 1em;
}
.main-subheader{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    padding: 0.5em;
}
.card-main{
    position: relative;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 3em;
    padding-bottom: 1em;
    padding-top: 5em;
    gap: 1em;
    justify-items: center;
}
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 236, 236, 0.37);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.6);
    border-radius: 1em;
    width: 100%;
}
.search input{
    width: 80%;
    padding: 1em;
    border-radius: 2em;
    text-align: center;
}
.search input:active{
  outline: none;
}
.search .search-button{
    margin: 1em;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: burlywood;
    cursor: pointer;
}
.search .search-button:active{
    outline: none;
}
.result{
    background-color: rgba(15, 228, 182, 0.37);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.6);
    border-radius: 1em;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.result-img{
    margin-top: 1em;
}
.result-avatar{
    width: 10em;
    height: 10rem;
    border-radius: 50%;
    background-position: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.6);
}
.result-text{
    width: 80%;
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.git-result{
    margin: .4em;
}

@media screen and (max-width:420px){
  body{
        background:url(./img/2.jpg);
        background-size: no-repeat; 
    }  
  .card-main{
        display: flex;
        flex-direction: column;
        margin-top: 2em;
    }     
    .search{
        background: none;
        box-shadow: none;
        border-radius: 0;
    }
    .result{
        width: 100%;
    }
}
@media screen and (max-width:800px){
    body{
        background:url(./img/2.jpg);
        background-size: cover; 
    }
    .card-main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 2em;
    }
    .result{
        width: 100%;
    }
    .search{
        background: none;
        box-shadow: none;
        border-radius: 0;
    }
}
